* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --backgroundmode-bg: rgb(18, 18, 18); */
  --backgroundmode-bg: #fafafa;
  --components-bg: rgb(255, 255, 255);
  --main-text-color: rgb(0, 0, 0);
  --main-nav-bg: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #fafafa; */
  background-color: var(--backgroundmode-bg);
  color: var(--main-text-color);
  transition: all 0.75s ease;
}

ul {
  list-style: none;
}

img {
  cursor: pointer;
}

.text-light {
  color: #787486;
}

.text-green {
  color: rgb(52, 202, 90);
}

.text-red {
  color: rgb(237, 84, 78);
}

.main {
  display: grid;
  grid-template-columns: 0.5fr 10fr;
  position: relative;
}

.nav-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border-right: 1px solid #f4f4f4;
  z-index: -5;
  background-color: inherit;
}

.nav-bar {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: 0 0.7rem;
  /* border-right: 1px solid #f4f4f4; */
  top: 0px;
  left: 0;
  position: sticky;
  background-color: var(--components-bg);
  transition: all 0.75s ease;
}

.hamburger {
  display: none;
}

.bolt {
  padding: 0.4rem;
}

.top-nav,
.bottom-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-nav .icons {
  padding: 0.2rem;
}

.avatar {
  height: 40px;
  width: 40px;
}

.secondary-nav {
  display: grid;
  grid-template-columns: 5fr 3fr;
  padding: 0.8rem;
  align-items: start;
  /* background-color: transparent; */
  border-left: 1px solid #f4f4f4;

  background-color: var(--main-nav-bg);
  position: sticky;
  border-bottom: 1px solid #f4f4f4;
  top: 0;
  left: 0;
  transition: all 0.75s ease;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid #f4f4f4; */
  /* background-color: aliceblue; */
  padding: 0.4rem 0.2rem;
}

.input {
  padding: 0.5rem;
  border-radius: 30px;
  border: 1px solid #e3e3e3;
  width: 300px;
  background-color: transparent;
  color: var(--main-text-color);
  /* display: none; */
}

.input:focus {
  outline: 1px solid #dadada;
}

.other {
  display: flex;
  margin-left: 3rem;
  align-items: center;
  position: relative;
}

.bell {
  padding: 0.5rem 0.6rem;
  border: 1px solid #dadada;
  border-radius: 50%;
  margin: 0 1rem;
}

.date {
  display: flex;
  align-items: center;
}

.date p {
  font-size: 0.8rem;
  margin-left: 10px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 30px;
  padding: 0.5rem;
  /* background-color: aliceblue; */
}

.profile .name {
  font-size: 0.8rem;
  margin-bottom: 4px;
  text-align: end;
}

.profile .email {
  font-size: 0.75rem;
  color: #787486;
}

.profile-modal {
  position: absolute;
  top: 40px;
  right: 30px;
  border: 1px solid #dadada;
  width: 120px;
  color: #787486;
  font-size: 0.75rem;
  border-radius: 10px;
  background-color: #fff;
}

.profile-modal li {
  padding: 0.6rem 0.8rem;
  cursor: pointer;
}

.profile-modal li:hover {
  background-color: #f4f4f4;
}

.arrow-down {
  margin-left: 10px;
  cursor: pointer;
}

.arrow-down img {
  height: 6px;
}

/*  */
.main-section {
  display: grid;
  grid-template-columns: 5fr 3fr;
  padding: 1rem;
}

.main-graph {
  background-color: var(--components-bg);
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  width: 99.5%;
  transition: all 0.75s ease;
  padding: 1rem;
}

.main-graph .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-graph select {
  padding: 0.5rem;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  margin-left: 5px;
}

.select {
  display: flex;
  align-items: center;
}

.side-graphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem;
}

.fade {
  color: #787486;
  font-size: 0.8rem;
  margin: 10px 0;
}

.small {
  color: #787486;
  font-size: 0.7rem;
  align-self: flex-end;
}

.bold {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.graph-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-deets {
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #f4f4f4;
  /* background-color: #fff; */
  background-color: var(--components-bg);
  transition: all 0.75s ease;
}

.percentage {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.4rem;
  border-radius: 30px;
}

.green {
  background-color: rgba(52, 202, 90, 0.1);
}

.red {
  background-color: rgba(237, 84, 78, 0.1);
}

.percentage p {
  align-self: flex-end;
  margin-left: 5px;
}

.impressions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*  */
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.description-list li {
  font-size: 0.8rem;
}

/*  */
.user-avi {
  display: flex;
  align-items: center;
  width: 100%;
}

.user-avi img {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.transaction-list p {
  font-size: 0.8rem;
}

.invoice {
  display: flex;
  align-items: center;
}

.invoice img {
  display: inline-block;
  margin-right: 5px;
}

table,
th,
td {
  text-align: start;
  border-bottom: 1px solid #f4f4f4;
  border-collapse: collapse;
}

table {
  width: 100%;
}

th {
  font-size: 0.8rem;
  font-weight: 100;
  padding-bottom: 1.5rem;
}

th,
td {
  font-size: 0.8rem;
}

td {
  padding: 0.3rem 0;
  /* border-bottom: 1px solid #dadada; */
}

/* tr {
  border: 1px solid #dadada;
} */

/*  */
.platform-section {
  padding: 0 1rem;
}

.platforms,
.transaction-history {
  padding: 0.4rem 1rem;
  /* background-color: #fff; */
  background-color: var(--components-bg);
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  transition: all 0.75s ease;
}

.progressbar {
  width: 100%;
  height: 8px;
  border-radius: 30px;
  background-color: #e3e3e3;
  margin: 1rem 0;
}

.progress-level {
  /* width: 40%; */
  height: 8px;
  border-radius: 30px;
}

.purple {
  background-color: #5d3fd3;
}

.blue {
  background-color: #89cff0;
}

.yellow {
  background-color: #ffbf00;
}

.red-bar {
  background-color: #ee4b2b;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.rate p {
  font-size: 0.8rem;
}

.invoice-receipt {
  width: 40%;
  /* height: fit-content; */
  height: 60%;
  overflow-y: scroll;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--components-bg);
  position: fixed;
  border-radius: 10px;
  transition: all 0.75s ease;
  border: 1px solid rgba(178, 171, 171, 0.3);
}

.invoice-receipt:hover::-webkit-scrollbar {
  display: block;
}

.invoice-receipt::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 30px;
}

.invoice-receipt::-webkit-scrollbar {
  /* display: none; */
  background-color: #fff;
  width: 5px;
  border-radius: 30px;
}

.invoice-receipt div {
  padding: 0.5rem 0;
}

.invoice-receipt p {
  font-size: 0.8rem;
}

.invoice-receipt img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.invoice-receipt div .flex {
  padding: 0;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.total {
  text-align: end;
  margin-top: 15px;
}

.background-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}
